{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'website/subpage.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'website/icon.ico' %}" />
	<title>Terra Salus</title>
</head>
<body>
    <div class="menubar sticky">
        <a href="/"><img src="https://i.ibb.co/7gFjvpF/terrasaluslogo.png" class="logo"></a>
        <a href="/about" class="hover-underline-animation">About</a>
        <a href="/contact" class="hover-underline-animation">Contact</a>
        <a href="/leadership" class="hover-underline-animation">Future</a>
        <a href="/use" class="hover-underline-animation">Use</a>
    </div>
    <div id="about">
        <p class="bodyheader fade-in" id="aboutus"><strong><span>&#8212;</span> What is Terra Salus? <span>&#8212;</span></strong></p>
    </div>
    <div class="entry">
        <div class="description fade-in" id="abouttext">
            <p><strong>Inaction</strong> is caused by feeling unaccountable for a situation, in this scenario: Climate Change</p>
            <p><strong>We are all</strong> responsible for the earth as its inhabitants and now more that ever we need to take <strong>personal</strong> responsibility to lower our carbon footprint and slow climate change</p>
            <p><strong>Terra Salus</strong> is an AI based image recognition program used to identify the objects our users own/use to display the net carbon cost of producing, using, and disposing the item as well as providing more eco-friendly alternatives</p>
            <p><strong>Project Objective: </strong> to enlighten users about the true environmental costs of the items they believe are trivial and do not <i>"really"</i> hurt the environement. Our users will likely adopt some of the <span style="color: green;">GREEN</span> alternatives proposed by the software, leading to a greener lifestyle and a healthier planet</p>
            <p> Although it may seem like an individual's contribution by living <span style="color: green;">green</span> lifestyle may be minimal, but the average American produces nearly 20 tonnes of CO<sub>2</sub> annually. Living the <span style="color: green;">green</span> life we're advocating for can cut that in half. Now just image the positived effect a community of hundreds of millions can have!</p>
        </div>
        <div class="colorshift">
            <a href="/"><img src="https://i.ibb.co/JBVKHpc/terrasaluslogo.png" class="general fade-in" id="aboutimg"></a>
        </div>
    </div>

    <div id="needed">
        <p class="bodyheader fade-in" id="whyneeded"><strong><span>&#8212;</span> Why is Terra Salus needed? <span>&#8212;</span></strong></p>
    </div>
    <div class="entry">
        <a href="https://climate.nasa.gov/effects/"><img src="https://i.ibb.co/8zFT1VX/climatechange.jpg" class="general fade-in" id="whyimg"></a>
        <div class="description fade-in" id="whytext">
            <p>Now more than ever, climate change is possible the greatest threat to our future. It is a threat that is becoming worse the longer that it is left to grow.</p>
            <p><strong>The negative effects of Climate Change are currently being experienced:</strong> More severe and common droughts, stronger hurricanes, more dangerous and abundant wildfires, increasing habitats for disease carriers like mosqitoes, dwindling habitats for beneficial wildlife, rising sea levels leading to coastal flooding and newly submerged land, and damage to food supplies due to changing temperatures. </p>
            <p><strong>Future negative effects at current rate:</strong> Even more severe natural disasters, Ocean currents may be disrupted - causing greater weather changes, greater submerged coastal land, runaway greenhouse effect (irreversable).</p>
            <p> The only way to protect the earth's long term environmental health is to reduce our carbon footprint <strong>NOW!</strong></p>
            <p> We have made it our mission to <strong>Terra Salus</strong> (SAVE EARTH)!</p>
        </div>
    </div>

    <script src="{% static 'website/fadein.js' %}"></script>
</body>
</html>