{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'website/subpage.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'website/icon.ico' %}" />
	<title>Terra Salus</title>
</head>
<body>
    <div class="menubar sticky">
        <a href="/"><img src="https://i.ibb.co/7gFjvpF/terrasaluslogo.png" class="logo"></a>
        <a href="/about" class="hover-underline-animation">About</a>
        <a href="/contact" class="hover-underline-animation">Contact</a>
        <a href="/leadership" class="hover-underline-animation">Future</a>
        <a href="/use" class="hover-underline-animation">Use</a>
    </div>
    <div id="about">
        <p class="bodyheader fade-in" id="aboutus"><strong><span>&#8212;</span> Development Team <span>&#8212;</span></strong></p>
    </div>
    <div class="entry" style="padding: 2vw;">
        <a href="https://www.aaryamanbhute.com"><img src="https://i.ibb.co/xLb4nBK/IMG-0766-removebg-preview.png" class="general fade-in" id="aboutimg"></a>
        
        <div class="descriptionC fade-in" id="abouttext">
            <p><strong><span style="color: blue">Hello!</span></strong> my name is Aaryaman Bhute!</p>
            <p><strong><span style="color: blue">My Role:</span></strong> Responsible for front-end development of website including design. Completed back-end to front-end integration with data transfer</p>
            <p><strong><span style="color: blue">Skills Used:</span></strong> Python, Python Modules, Django, HTML, CSS, Javascript</p>
            <p><strong><span style="color: blue">Personal Inspiration:</span></strong> Coming from agricultural roots, I hear the troubles that farmers go through to ensure that food production is not damaged. Right now the farmers are most effected, and if not slowed Climate Change will cause food supply issues for everyone. My inspiration for this project is to stop that from happening</p>
            <p><strong><span style="color: blue">Contact:</span></strong> I'm happy to speak with you any time! Just use any of the following social medias to reach out!</p>
            <div class="contactbar">
                <a href="https://www.linkedin.com/in/aaryaman-bhute/"><img src="https://i.ibb.co/p0fzZ6M/linkedin.png" class ="contactimg"></a>
                <a href="https://www.instagram.com/aaryaman_bhute/"><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg"></a>
                <a href="https://github.com/AaryamanBhute"><img src="https://i.ibb.co/v1bSkKt/github.png" class ="contactimg"></a>
                <a href="mailto:aryamanbhute@gmail.com"><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg"></a>
            </div>
        </div>
    </div>
    <div id="about">
        <p class="bodyheader fade-in" id="aboutus"><strong><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span></strong></p>
    </div>
    <div class="entry" style="padding: 2vw;">
        <a href="https://www.linkedin.com/in/kunsh-singh-aa61791a1/"><img src="https://i.ibb.co/93RzWky/image0-removebg-preview.png" class="general fade-in" id="aboutimg"></a>
        <div class="descriptionC fade-in" id="abouttext">
            <p><strong><span style="color: blue">Hello!</span></strong> my name is Kunsh Singh!</p>
            <p><strong><span style="color: blue">My Role:</span></strong> Responsible for research and data such as carbon emission values. Utilized three phases in calculation: producing, using, and disposing. Compiled data into a MySQL and assisted with Python integration.</p>
            <p><strong><span style="color: blue">Skills Used:</span></strong> Python, Excel, MySQL, Research</p>
            <p><strong><span style="color: blue">Personal Inspiration:</span></strong> A lot of research and statistics these days are fabricated in order to meet a desired result, which obfuscates the truth. My goal is to make this truth more apparent by providing accuracy in my data, whether it be information on psychology or the environment.  When many of my peers were surprised of their carbon footprint and consumption, I was inspired along with Aaryaman and Kartik to develop this application to uncover how daily objects influence each of our carbon footprints.</p>
            <p><strong><span style="color: blue">Contact:</span></strong>  Let me know if you'd like to talk to me!</p>
            <div class="contactbar">
                <a href="https://www.linkedin.com/in/kunsh-singh-aa61791a1/"><img src="https://i.ibb.co/p0fzZ6M/linkedin.png" class ="contactimg"></a>
                <a href="https://www.instagram.com/k__ingh/"><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg"></a>
                <a href="https://github.com/kunshksingh"><img src="https://i.ibb.co/v1bSkKt/github.png" class ="contactimg"></a>
                <a href="mailto:kunshksingh@gmail.com"><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg"></a>
            </div>
        </div>
    </div>
    <div id="about">
        <p class="bodyheader fade-in" id="aboutus"><strong><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span><span>&#8212;</span></strong></p>
    </div>
    <div class="entry" style="padding: 2vw;">
        <a href="https://www.linkedin.com/in/kunsh-singh-aa61791a1/"><img src="https://i.ibb.co/93RzWky/image0-removebg-preview.png" class="general fade-in" id="aboutimg"></a>
        <div class="descriptionC fade-in" id="abouttext">
            <p><strong><span style="color: blue">Hello!</span></strong> my name is Kunsh Singh!</p>
            <p><strong><span style="color: blue">My Role:</span></strong> Responsible for front-end development of website including design. Completed back-end to front-end integration with data transfer</p>
            <p><strong><span style="color: blue">Skills Used:</span></strong> Python, Python Modules, Django, HTML, CSS, Javascript</p>
            <p><strong><span style="color: blue">Personal Inspiration:</span></strong> Coming from agricultural roots, I hear the troubles that farmers go through to ensure that food production is not damaged. Right now the farmers are most effected, and if not slowed Climate Change will cause food supply issues for everyone. My inspiration for this project is to stop that from happening</p>
            <p><strong><span style="color: blue">Contact:</span></strong> I'm happy to speak with you any time! Just use any of the following social medias to reach out!</p>
            <div class="contactbar">
                <a href=""><img src="https://i.ibb.co/p0fzZ6M/linkedin.png" class ="contactimg"></a>
                <a href=""><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg"></a>
                <a href=""><img src="https://i.ibb.co/v1bSkKt/github.png" class ="contactimg"></a>
                <a href=""><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg"></a>
            </div>
        </div>
    </div>
    <div id="needed" style="margin-top:5vh">
        <p class="bodyheader fade-in" id="whyneeded"><strong><span>&#8212;</span> Terra Salus Links <span>&#8212;</span></strong></p>
    </div>
    <div class="entry">
        <div class="description fade-in" id="whytext" style="margin-top: -5vh;">
            <p style=""><strong>The Official Terra Salus Links Are Below!</strong></p>
        </div>
    </div>
    <div class="contactbar" style="gap: 12vw;height: 20vh;align-items: center;border-top: 2px solid black;">
        <a href=""><img src="https://i.ibb.co/LPHZgmh/Pin-Clipart-com-twitter-clip-art-5394319.png" class ="contactimg" style="width:5vw;"></a>
        <a href=""><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg" style="width:5vw"></a>
        <a href=""><img src="https://i.ibb.co/NxD8JJB/pngegg.png" class ="contactimg" style="width:5vw;"></a>
        <a href=""><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg" style="width:5vw;"></a>
    </div>

    <script src="{% static 'website/fadein.js' %}"></script>
</body>
</html>